#main #form {
  background-color: #e1e1e4;

  width: 400px;
  height: 500px;

  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#main .fields {
  margin-bottom: 16px;
}

#main #buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 200px;
}

#main #buttons #register:hover {
  background-color: #092180
}

#main #buttons #cancel:hover {
  background-color: #c4210e
}